CHATWM_TOKEN=replace-with-chatwm-token

MINIO_ROOT_USER=mldev-local
MINIO_ROOT_PASSWORD=replace-with-at-least-8-characters

AWS_ACCESS_KEY_ID=mldev-local
AWS_SECRET_ACCESS_KEY=replace-with-at-least-8-characters
AWS_DEFAULT_REGION=us-east-1
